.vishnu-img{
    height : 50px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: 600;
    font-size: 13px;
    padding: 5px 9px !important;
}

.nav-link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.vishnu-college{
    width : 100%;
    height : 500px;
}
.About {
    display: flex; 
    align-items: center; 
    justify-content: center; 
   
}

.College{
    font-family: inherit;
    
}
#About{
    /* background-color:rgb(244, 175, 151); */
}
#College{
    
}
.caption {
    background-color: rgba(0, 0, 0, 0.0);
    padding: 4% 14% 4% 14%;
    text-align: center;
    color: #fff;
}
.titleline {
    position: relative;
    width: 100px;
    border-top: 3px solid #8c0808;
    margin: 0 auto;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}
.read-more {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}
.read-more1{
    cursor: pointer;
    color: black;
    text-decoration: underline;
}
.highlights-area {
    position: relative;
    background-color:white;
    border-radius: 30px;
    display: block;
    z-index: 1;
    width: 100%;
    float: left;
    
    padding: 50px 0;
}
.keynotespeakers{
    background-color: white;
}
.card{
    height: 350px;
    width:300px;
    border: 1px solid #000;
    border-radius: 30px;;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
}
.card:hover {
    transform: translateY(-20px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
footer {
    width: 100%;
    float: left;
    background: #dcddde;
    padding: 50px 0;
}
.footer {
    text-align: center;
    color: #fff;
    font-weight: 600;
    padding: 15px 0 0 0;
    margin-bottom: 0;
}
.footer {
    float: left;
    width: 100%;
    background: #09012c;
}
.logofooter {
    width: 100%;
    float: left;
}
.logofooter p{
    text-align: left;
}
.img1{
    height : 150px;
    width : 150px;
    border-radius: 30px;
    border: 2px solid black;
    
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.img2{
    height : 150px;
    width:150px;
    border-radius: 30px;
    border: 2px solid black;
}
.img3{
    height : 150px;
    width :150px;
    border-radius: 30px;
    border: 2px solid black;

}
.img4{
   
    border-radius: 30px;
    border: 2px solid black;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: center;
}
a{  
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: black;
    
}
div.ul{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  ul.myul {
    display: inline-block;
    text-align: left;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .nav-link:hover .dropdown-menu {
    display: block;
  }


.blink{
    animation: blink 1s linear infinite;
    color: #1c87c9;
    font-weight: bold;
    font-family: sans-serif;
}
.blink {
    outline: none;
    color: blue;
    animation: blink 1s linear infinite;
}

@keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }

